html,
body {
	background: #EFEFF4;
	font-size: 16px;
}

html {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.y-grid path,
.axis path,
.axis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}